.header-wrapper {
  /* font-family: "Courier New", Courier, monospace !important; */
  /* font-size: 1.25rem;
  font-weight: bold; */
  position: absolute !important;
  z-index: 2 !important;
  /* background-color: white; */
  padding: 1rem 1rem 0rem;
}
