.title-container {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    background-color: white;
    height: 3rem;
    padding: 1rem 1rem 0rem;
}